{% extends "base.html" %}
{% block title %}Área do Aluno{% endblock %}

{% block content %}
<style>
body {
    background-color: #fff8e1;
    font-family: 'Comic Sans MS';
    text-align: center;
}
h2 {
    color: #f57f17;
    margin-top: 30px;
}
p {
    color: #f57f17;
    font-weight: bold;
    margin: 15px 0;
}
a.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
    font-weight: bold;
    transition: 0.3s;
}
a.btn-info {
    background-color: #fbc02d;
}
a.btn-info:hover {
    background-color: #f57f17;
}
a.btn-primary {
    background-color: #fbc02d;
}
a.btn-primary:hover {
    background-color: #f57f17;
}
</style>

<h2>Bem-vindo, {{ nome }} 👋</h2>
<p>Escolha uma opção abaixo:</p>
<a href="{{ url_for('aluno_atividades') }}" class="btn btn-info">Atividades</a>
<a href="{{ url_for('aluno_notas') }}" class="btn btn-primary">Notas e Média</a>
{% endblock %}
